* {
    padding: 0px;
    margin: 0px;
}

body {
    width: 80%;
    margin-left: 10%;
}

header,main {
    background-color: aliceblue;
    box-sizing: border-box;
    padding-bottom: 10px;
}

ul {
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

nav>ul {
    display: flex;
}

nav li {
    padding: 5px;
    margin: 2px;
}

article {
    padding-top: 40px;
    padding-bottom: 10px;
}

article>h1 {
    display: flex;
    justify-content: center;
}

article>p {
    padding : 30px 50px;
    font-family: "Hahmlet", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

nav {
    display: flex;
}

#menu1 a {
    text-decoration: none;
    background-color: rgba(135, 225, 248, 0.836);
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
}

#menu1 a:hover {
    background-color: brown;
}

#menu2 a:visited {
    background-color: yellowgreen;
}

.textred{
    color : red;
}
section{
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 40px;
}

section>h2 {
    margin-bottom: 20px;
    /* border: 1px dotted gold; */
    background-color: rgb(205, 229, 245);
    border-radius: 10px;
    padding : 7px;
    
}

.fbox {
    display: flex;
}

.fbox>div {
    margin-right: 20px;
    width: 20%;
}
.fbox>p {
    width: 80%;
    height: 150px;
    display: flex;
    align-items: center;
    /* border: 1px blue solid; */
    font-family: "Hahmlet", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
img{
    border-radius: 100%;
}

span {
    display: contents;
}


footer {
    padding: 20px;
    background-color: black;
    color: white;
    /* border-radius: 10px; */
}
footer>ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: small;
} 