input{
    height: 30px;
    width: 200px;
}

.cdiv2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cdiv2>input, .cdiv2>button{
    display: block;
}

#btBefore > button{
    width: 50px;
}

#btAfter > button{
    margin: 5px 0px;
    width: 200px;
    background-color: pink;
}

#btAfter > input{
    margin: 5px 0px;
    width: 200px;
}
