form{
    width: 80%;
    /* background-color: aliceblue; */
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border: 1px gray double;
}

.mdiv{
    width: 45%;
    height: 50px;
    margin-top: 5%;
    margin-left: 5%;
}

.mdiv >select{
    width: 80%;
    height: 40px;
}

.mdiv>input{
    width: 60%;
    height: 20px;
}

[readonly]{
    background-color: bisque;
}

[for=txt1]{
    color: red;
    font-weight: bold;
}

[for=txt2]{
    color: green;
    font-weight: bold;
}
